

.deconnexion{
    color: red;
}


.menu {
    border: solid 1px;
}

.tableCentree {
    margin: auto;
}

.referencePosition {
    /*position: relative;*/
    /*text-align: center;*/
}

.divFlottante {
    /*position: absolute;*/
    color: gray;
    font-size: 1.3vw;
}

/*.gauche {
    margin-left: 20%;
}

.droite {
    margin-left: 60%;
}*/

.tableauxSalle {
    /*position: absolute;*/
    /*margin: auto;*/
    /*margin-top: 20%;*/
    /*font-size: 1vw;*/
}

td {
    /*border: solid 1px;*/
}

.enteteTableau > thead {
    background-color: rgba(46, 228, 252, 0.637);
    border: solid 1px rgba(46, 228, 252, 0.637);
}

#materiel > thead {
    background-color: rgba(46, 228, 252, 0.637);
    border: solid 1px rgba(46, 228, 252, 0.637);
}



ul.nav li a, ul.nav li a:visited {
    color: rgb(18, 116, 155) ;
   
}

ul.nav li a:hover, ul.nav li a:active {
    color: #000000;

}

ul.nav li.active a {
    color: #deddff;
}   


Message {
    font-size: 1vw;
}
#marge_haut{
    margin-top: 8em;
}

#marge_haut_bis{
    margin-top: 5em;
}

#notbold{
    font-weight: normal;
}


*{
/*background-color: #fff;*/
    font-family: 'Palankin Dark', sans-serif;
    font-size : large;
}

body {
    background-image: url(../Großraumbüro.jpg);
    color: rgb(18, 116, 155);
}

.fond {
    background-color: rgba(255, 255, 255, 0.664);
}


.nav, .nav-item, .nav-link, .dropdown-item{
    background-color: white;
    color: rgb(18, 116, 155) !important;
    border-bottom : 1px solid rgb(219, 219, 219);
}

